
header{
    text-align: center;
    background-color: #0a8862;
}

main{
    background-color: #0f1a1e;
    color: #000000;
    background-image: url("https://wallpapercave.com/uwp/uwp2017268.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    height: 730px;
}

main .formulario{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #000000;
    
}

#title-decoration{
    

}

h1{
    text-align: center;
    color: #b6520a;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 4rem;
    margin: 0;
}

input{
    width: 350px;
    border-radius: 50px;
}
    